/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: var(--black);
  font-size: 14px;
  line-height: 1.4;
  padding-left: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--primary);
  color: var(--white);
  text-shadow: none;
}

::selection {
  background: var(--primary);
  color: var(--white);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

div,
p,
header,
footer,
figure,
ul,
li { margin: 0; padding: 0; box-sizing: border-box;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  /* 0. Vars */

  :root {
    --primary: #E94E1B;
    --white: #ffffff;
    --black: #444;
    --dark: #2E69FF;

    /* Géometry */
    --padding: 2rem;
    --negative-padding: -2rem;

    /* Typography */
    --typoPlain: 'Roboto Slab';
    --typoHeadings: 'Anton';
  }

  /* 1. Typography */

  html { font-family: var(--typoPlain), serif; }

  .primaryTitle,
  .secondaryTitle,
  .secondaryTitleAlt,
  .thirdTitle { font-family: var(--typoHeadings), sans-serif; text-transform: uppercase; }
  .primaryTitle,
  .secondaryTitle,
  .thirdTitle { transform: rotate(-2deg) translateY(-0.25em); }

  .primaryTitle { display: inline-block; color: var(--dark); font-size: 3.5rem; font-weight: 400; line-height: 1em; text-align: left; position: relative; background-color: var(--white); outline: solid 1px var(--dark); padding: 0.5em 0.5em; border-radius: 0.5em; box-shadow: 0.25em 0.25em var(--dark); justify-self: start;}
  .secondaryTitle { display: inline-block; color: var(--dark); font-size: 2.25rem; font-weight: 400; line-height: 1em; text-align: left; position: relative; background-color: var(--white); outline: solid 1px var(--dark); padding: 0.5em 0.5em; border-radius: 0.5em; box-shadow: 0.25em 0.25em var(--dark); justify-self: start;}
  .secondaryTitleAlt { display: inline-block; color: var(--dark); font-size: 2.5rem; font-weight: 400; line-height: 1em; text-align: left; position: relative; background-color: var(--white); outline: solid 1px var(--dark); padding: 0.75em 1.5em; border-radius: 9999px; margin-left: 1.25em; justify-self: start; }
  .thirdTitle {  color: var(--primary); font-size: 2rem; font-weight: 400; line-height: 1em; text-align: left; position: relative;}

  .-plain {  }
  .-plain ul { padding-left: 1rem}

  a { color: inherit; }
  .-plain a:hover { background-color: var(--primary); color: var(--white); padding: 0 .5em; text-decoration: none; }
  .-plainInvert a:hover { background-color: var(--white); color: var(--primary); padding: 0 .5em; text-decoration: none; }

  /* 2. Commons */

  .-primaryColor { color: var(--primary) }
  .-secondaryColor { color: var(--dark) }

  .menu { position: relative; display: flex; gap: 2rem; justify-content: center; margin : 0 calc(var(--padding) * -1); }
  .menu__entry { text-decoration: none; font-weight: 700;  padding: 0 .5rem; white-space: nowrap; background-color: var(--dark); border-radius: 9999px; padding: 0.25em 0.75em;}
  .menu__list { display: flex; gap: .5rem; overflow: auto; scrollbar-width: none; padding: 0 var(--padding); }
  .menu__entry.-active { background-color: var(--white); color: var(--primary); height: min-content; }
  .menu__home { position: relative; margin-top: -10px;}
  /* .menu__home.-active { background-color: var(--white); }
  .menu__home.-active svg path { fill: var(--primary) } */
  .menu__home a { width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; }

  .button { display: block; text-decoration: none; background-color: var(--dark); color: white; font-family:var(--typoHeadings), sans-serif; font-size: 1.5rem; padding: 1em; border-radius: 1em; text-align: center; transition: background-color .2s ease-out; }
  .button:hover { background-color: var(--primary); color: white; }

  .-bgImg { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0;}
  .-bgImg img { min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; object-fit: cover;}

  /* .-decoBottom:after {  content:" "; display: block; position: absolute; right: 20%; bottom: 0; background-image: url('../img/deco-slash-white.svg'); background-repeat: no-repeat; background-position: center; height: 118px; width: 44px;  transform: translateY(50%); } */

  /* .content { padding: 3rem 0 0; } */
  .content > *:last-child:not(.block.-step:nth-child(2n)) { margin-bottom: 8rem; }
  /* .content > *:first-child:not(.block) { padding-top: 3rem } */
  /* .content > *:last-child:not(.block) { padding-bottom: 8rem } */
  /* .content h2 { margin-top: 1em} */
  .content > ul li { margin-left: 1rem; padding-left: .5em}
  .content iframe {  width: 100%; aspect-ratio: 16/9;}
  .content figcaption {  margin-top: 0.5rem }

  .header { position: relative; display: flex; flex-direction: column; justify-content: end; min-height: 50vh; width: 100%; padding: var(--padding); background-color: var(--primary); color: var(--white); overflow: hidden;}
  .menu { position: absolute; top: 3rem; width: 100%; max-width: 100%; }
  .header__brand { position: relative; font-family: var(--typoHeadings); text-transform: uppercase; font-size: 1.5rem; padding-bottom: 1rem; margin-bottom: 1rem; border-bottom: solid 1px rgba(255, 255, 255, .2) }
  .header__brand a { position: relative; display: flex; justify-content: center; align-items: center; gap: 1rem; text-decoration: none;}
  .header__brand__picto { width: 2.3rem; height: 2.3rem; background-color: var(--white); border-radius: 50%; position: relative; }
  .header__brand__picto svg { width: 70%; height: auto; position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%);}
  .header__brand__headline { display: none; }
  /* .header__title { position: relative; margin: 0 0 1rem 0; } */

  .block { padding: 5rem 0; position: relative; }
  .block:nth-child(even) { background-color: var(--primary); color: var(--white); }
  /* .block:nth-child(even) .secondaryTitle { color: var(--white) } */
  .block:nth-child(odd) svg *[stroke="#4F4F51"] { stroke: var(--dark) }
  .block:nth-child(odd) svg text,
  .block:nth-child(odd) svg path[fill="#4F4F51"] { fill: var(--dark) }
  .block:nth-child(even) svg *[stroke="#4F4F51"] { stroke: var(--white) }
  .block:nth-child(even) svg text { fill: var(--white) }
  .block:nth-child(even) svg path.-fillPrimary { fill: var(--dark); stroke: none; opacity: 40%; }
  .block:nth-child(even) .-plain a:hover { background-color: var(--white); color: var(--primary) }
  .block.-features,
  .block.-paragraph { display: flex; flex-direction: column; justify-content: center;align-items: center;}

  .block__features { padding-top: 1rem; }
  .block__features__text { align-self: center;}
  .block__features__feature { margin-bottom: .5em; list-style: none; }
  .block__features__feature:before { content: " "; display: inline-block; background-color: var(--primary); width: 8px; height: 8px; margin-right: 1rem; transform: translateY(-2px); }
  /* .block.-deco { overflow: hidden; }
  .block.-deco:before,
  .block.-deco:after { content:" "; display: block; position: absolute; left: 50%; top: 0; background-image: url('../img/deco-slash.svg'); background-repeat: no-repeat; background-position: center; height: 118px; width: 44px;  transform: translateY(-50%) translateX(-50%);}
  .block.-deco:after { top: auto; bottom: 0; transform: translateY(50%) translateX(-50%); } */

  .block__paragraph { position: relative; align-self: center }
  .block__paragraph__intro { font-weight: 700; margin-bottom: .5rem; }

  .block__mosaic { list-style: none;}
  .block__mosaic + .button { margin-top: 4rem; }
  .block__mosaic__item__image { width: 100%; padding-bottom: 100%; position: relative;}
  .block__mosaic__item__image svg { width: 100%; height: auto; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%) }
  .block__mosaic__item__image svg { stroke: green }
  .block__mosaic__item__text { text-align: center; }

  .block__calendar { list-style: none }
  .block__calendar__date__marker { position: absolute; top: 10px; left: 21px; border-left: dotted 3px white; width: 1px; height: calc(100% + 55px) ;}
  .block__calendar__date__marker.-duration { border-left-style: solid; }
  .block__calendar__date:last-child .block__calendar__date__marker { border-left: none; }
  .block__calendar__date { position: relative; padding: 0 0 0 5rem; margin-bottom: 4rem}
  .block__calendar__date:before { content:" "; display: block; background-image: url('../img/slash.svg'); background-repeat: no-repeat; background-position: center; position: absolute; top: .5rem; left: 0; width: 42px; height: 15px; }
  .block__calendar__date__icon { margin-bottom: 1rem;}
  .block__calendar__date__text { margin-bottom: .5rem;}
  .block__calendar__date__day { font-family: var(--typoHeadings), sans-serif; text-transform: uppercase; font-size: 2.3rem }
  .block__calendar__date__hour { font-family: var(--typoHeadings), sans-serif; text-transform: uppercase; font-size: 1rem; margin-bottom: .5rem; }

  .block__partners { list-style: none; display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 1.5rem; margin: 3rem 0; position: relative; }
  .block__partners__partner__logo { position: relative; height: 100%; padding-bottom: 100%; }
  .block__partners__partner__logo a { position: absolute; left: 0; top: 0; display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; }
  .block__partners__partner__logo a:hover { padding: 0 }
  .block__partners__partner__logo img { width: auto; height: auto; max-width: 100%; max-height: 76px; }
  .block__supports { display: flex; list-style: none; justify-content: center; gap: 2rem; margin-bottom: 3rem; }
  .block__supports__partner { max-width: 100%; }
  .block__supports__partner__logo a { display: block; width: 100%; height: 100%; }
  .block__supports__partner__logo img { width: 100%; height: auto;}

  .block__partnersVerbatim { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 2rem; margin-top: 2rem;}
  .block__partnersVerbatim__partner { list-style: none; }
  .block__partnersVerbatim__partner a { display: flex; gap: 1rem; text-decoration: none;}
  .block__partnersVerbatim__partner__logo img { max-width: 100px; }
  .block__partnersVerbatim__partner__text { display: flex; flex-direction: column; gap: 0.25rem;}
  .block__partnersVerbatim__partner__name { font-weight: 700; }

  .block__jury { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 2rem; margin-top: 2rem;}
  .block__jury__partner { list-style: none; }
  .block__jury__partner a { display: flex; gap: 1rem; text-decoration: none;}
  .block__jury__partner__logo img { max-width: 100px; }
  .block__jury__partner__text { display: flex; flex-direction: column; gap: 0.25rem;}
  .block__jury__partner__name { font-weight: 700; }

  .block__step__content { display: flex; gap: 3rem; flex-wrap: wrap;}
  .block__step__content > * { flex-grow: 1; flex-basis: 250px; }
  .block__step__number { display: flex; position: absolute; font-family: var(--typoPlain); background-color: var(--dark); color: var(--white); font-size: 1em; left: -1.5em; line-height: 1em; height: 2em; aspect-ratio: 1/1; border-radius: 9999px; top: 50%; transform: translateY(-50%); align-items: center; justify-content: center;}
  .block__step__title { margin-top: 0;}
  .block__step__illustration { display: flex; justify-content: center; align-items: center; width: 100%;  position: relative; }
  .block__step__illustration svg { width: 100%; height: auto; }

  .block__award { border-bottom: solid 1px rgba(0, 0, 0, .2); padding-bottom: 2.5rem }
  .block__award__awardTitle { margin-bottom: 1rem;}
  .block__award__gain { margin-bottom: 1rem;}
  .block__award__picture { width: 100%; }
  .block__award__picture__link { display: block; position: relative; width: 100%;}
  .block__award__picture__image { width: 100%; position: relative; background-color: var(--primary)}
  .block__award__picture__image > img { width: 100%; height: auto; transition: all .3s ease-out}
  .block__award__picture__button { position: absolute; bottom: 2rem; left: 50%; transform: translateX(-50%); width: max-content; padding: 1rem 2rem; font-family: var(--typoHeadings), sans-serif; background-color: var(--dark); color: white; border-radius: 1rem; transition: background-color .3s ease-out}
  .block__award__picture__image:hover .block__award__picture__button { background-color: var(--dark) }
  .block__award__picture__image:hover > img { filter: grayscale(1); opacity: .2 }
  .block__award__picture__button__icon { width: 20px; height: 20px; margin-right: .5rem }
  .block__award__description p { margin-bottom: 1rem;}
  .block__award__description ul { padding-left: 1rem; }

  .block__region {  margin-bottom: 2rem; border-bottom: solid 1px rgba(0, 0, 0, .2);  }
  .block__region__name { padding-right: 40px; display: relative; }
  .block__region__fold { position: absolute; right: 0; top: -8px; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; cursor: pointer; }
  .block__region__fold img { transition: transform .3s ease-out }
  .-folded .block__region__fold img { transform: rotate(180deg); transition: transform .3s ease-out}
  .-folded .block__region__awwards { display: none;}
  .block__region__awwards { list-style: none}
  .block__region__awward { margin-bottom: 1rem }
  .block__region__awward a { display: block; width: 100%; height: 100%; position: relative;}
  .block__region__awward__award { font-weight: 700 }
  .block__region__awward__links { display: flex; gap: 1rem;}
  .block__region__awward__link__label { display: none}
  .block__national__awward__team,
  .block__region__awward__team { color: var(--primary); margin-top: 1rem;}
  .block.-results-national { padding-top: 0; }

  .pagetabs { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1rem; margin: 1rem var(--padding); border-bottom: solid 1px rgba(0, 0, 0, .2);  }
  .tab { cursor: pointer; transition-property: color, border; transition-duration: .3s; transition-timing-function: ease-out; letter-spacing: .1em }
  .tab.-active h2 { color: var(--primary)}
  .tab.-active { border-bottom: solid 4px var(--primary)}
  .content.-hidden { display: none; }

  .footer { background-color: var(--dark); color: var(--white) }
  .footer__logo a { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; padding: 3rem 0 }
  .footer__logo a:hover { background-color: transparent; padding: 3rem 0; }
  .footer__logo svg { display: flex; justify-content: center; align-items: center; width: 50%; height: auto;}
  .footer__menu { list-style: none; }
  .footer__menu__entry { text-align: center; padding : 1rem; border-bottom: solid 1px rgba(0, 0, 0,.2); font-weight: 700}
  .footer__menu__entry a { display: block; text-decoration: none;}
  .footer__socials { grid-area: socials; display: flex; gap: 1rem; padding: 1rem; justify-content: center; align-items: center; }
  .footer__socials path { fill: var(--white) }
  .footer__legals{ text-align: center; padding : 1rem; text-align: center; }

  /* 3. Home */
  .home .cover { position: relative; padding: 8rem var(--padding) 4rem; background-color: var(--primary); color: white; }

  .cover { display: flex; flex-direction: column; justify-content: space-between; gap: 2rem; }
  .cover .secondaryTitle { color: var(--dark); padding: 0.5em; border-radius: 0.5em; }
  .cover__brand { margin: 0; text-align: center; position: relative;}
  .cover__brand svg { width: 70%; height: auto; max-width: 400px;}
  .cover__news { position: relative; }
  .cover__news__title { margin-bottom: 1rem }

  /* 4. Results */
  .results__selector { display: flex; overflow-x: auto; overflow-y: hidden; scrollbar-width: none; gap: 2rem; list-style: none; padding: 2rem var(--padding) 1rem; }
  .results__selector a { text-decoration: none; white-space: nowrap; background-color: var(--dark); color: var(--white); padding: 0.5em 1rem; border-radius: 999px;} 
  /* .results__selector a.-active { font-weight: 700; color: var(--primary); display: inline-block; position: relative;} */
  /* .results__selector a.-active:after { content: " "; display: block; background-color: var(--primary); position: absolute; width: 100%; top: -32px; left: 0; height: 4px;} */
  .statistic__container { padding: var(--padding); }
  .statistics { position: relative; display: flex; gap: 2rem; justify-content: start; align-items: center; padding: 2rem; }
  .statistics:before { content: " "; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: var(--primary); opacity: 0.2;}
  .statistic { position: relative; display: flex; flex-direction: column; gap: 0rem; align-items: center; flex-grow: 1;}
  .statistic:not(:first-child) { border-left: solid 1px rgba(0, 0, 0, .2);}
  .statistic__number { font-weight: 700; font-size: 4rem; font-family: var(--typoHeadings); line-height: 4rem; }

  .readPDF { background-color: var(--primary); color: var(--white); padding: 0.25rem 0.75rem; text-decoration: none; border-radius: 1rem;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(780px, calc(100%  - var(--padding) * 2))
    1fr;
  column-gap: 0;
}

@media screen and (min-width: 780px) {
  .wrapper {
    grid-template-columns:
      1fr
      min(780px, calc(100%))
      1fr;
  }
}

.wrapper > * {
  grid-column: 2;
}

.container {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  max-width: min(780px, calc(100% - var(--padding)*2));
  gap: 2rem;
}

.two-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-self: center;
  align-self: center;
  max-width: 780px;
}
.two-columns > * {
  flex-basis: calc((780px - 2rem) / 2 );
}

.home .content .block:nth-child(even),
.full-width {
  width: 100%;
  grid-column: 1 / 4;
}
.home .content .block:nth-child(even) {
  display: grid;
  grid-template-columns: subgrid;
}
.home .content .block:nth-child(even) > * {
  grid-column: 2;
}
 
/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 720px) {
  .header__brand { display: none; }
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
  .block__region__awward__links { margin-top: .5rem;}
  .block__region__awward__link__label { display: inline}
}


@media only screen and (max-width: 720px) and (orientation: landscape) {

  .header { min-height: 90vh;}
  .cover .menu { position: absolute; padding: calc(var(--padding) / 2) var(--padding); box-sizing: border-box; width: 100%; top: 0; left: 0;)}
  .cover { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2rem; }
  .cover .cover__brand,
  .cover .cover__news { align-self: center; justify-self: center; }
  .block.-deco:before,
  .block.-deco:after { display: none;}

  .block__supports__partner { max-width: 50%; }

  .block__mosaic__item { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2rem; grid-template-areas: 'text illustration' }
  .block__mosaic__item__text { align-self: center; grid-area: text; text-align: left;}

  .block__award__content { display: grid; grid-template-columns: 300px auto; grid-gap: 1rem; }
  .block__award__headline { margin: 0 0 .5rem }

  .block__region__awward__row { display: grid; grid-template-columns: repeat(3, 1fr) 3.5rem; grid-gap: 1rem; }
  .block__region__awward__school  {text-align: right}

  /* Footer */
  .footer { display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr 1fr auto; grid-template-areas: 'logo menu' 'logo socials' 'legals legals'; }
  .footer__logo { grid-area: logo; align-self: center; padding-left: var(--padding); width: 350px; }
  .footer__logo svg { width: 100%;}
  .footer__menu { grid-area: menu; display: flex; justify-content: flex-end; align-self: end; padding-right: var(--padding)}
  .footer__menu__entry { border-bottom: none; }
  .footer__socials { padding: 0; }
  .footer__legals { grid-area: legals; border-top: solid 1px rgba(0, 0, 0, 1) }
}


@media only screen and (min-width: 720px) {

  html { font-size: 16px; }

  /* Vars */
  :root {
    --padding: 6rem;
    --negative-padding: -6rem;
  }

  /* Typo */
  .secondaryTitle { text-align: left; }

  /* Commons */
  .button { max-width: 300px; margin-left: auto; margin-right: auto; }
  .header { align-items: flex-start; height: auto; min-height: 50vh; }
  .header__brand { display: none; }
  .header__title { text-align: left; }
  .header__desc { max-width: 50%; position: relative;}
  .menu { margin: 0 }
  .menu__list { padding: 0 }
  .menu .header__brand { display: block; border-bottom: none; padding: 0; margin: 0; }
  .menu { justify-content: space-between; align-items: center; width: calc(100% - var(--padding)*2) }
  .menu__home { display: none; }


  /* Home */
  .cover__brand svg { width: 50%; height: auto; max-height: 90%;}

  /* Blocks */
  /* .block.-features, .block.-paragraph { min-height: 50vh } */
  .block__features__title { text-align: center; }

  .block__mosaic { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 1rem;}
  .block__partners { grid-template-columns: repeat(3, 1fr) }
  .block__partners__partner__logo { padding-bottom: 50%;}
  .block__supports__partner { max-width: 40%; }

  .block.-step:nth-child(even) { display: grid; }

  .block__award__content { display: grid; grid-template-columns: 300px auto; grid-gap: 1rem; }
  .block__award__headline { margin: 0 0 .5rem }

  .block__region__awward__row { display: grid; grid-template-columns: repeat(3, 1fr) 3.5rem; grid-gap: 1rem; }
  .block__region__awward__pdf,
  .block__region__awward__video { justify-self: center; }
  .block__region__awward__school  { text-align: right }
  .block__region__awward__team { font-size: .8rem; margin-top: 0; padding-left: calc(30% + 21px)}
  .block__national__awward__team { font-size: .8rem; margin-top: 1.5rem; padding-left: 1rem;}
  .block.-results-national,
  .block.-results-regional { padding-top: 1rem; }

  /* Footer */
  .footer { display: grid; grid-template-columns: 33% auto; grid-template-rows: 1fr 1fr auto; grid-template-areas: 'logo menu' 'logo socials' 'legals legals'; }
  .footer__logo { grid-area: logo; align-self: center; justify-self: end; }
  .footer__logo svg { width: 100%; max-width: 200px;}
  .footer__menu { grid-area: menu; display: flex; justify-content: flex-end; align-self: end; padding-right: var(--padding)}
  .footer__menu__entry { border-bottom: none; }
  .footer__socials { padding: 0; }
  .footer__legals { grid-area: legals; border-top: solid 1px rgba(0, 0, 0, 1) }
}

@media only screen and (min-width: 1024px) {
  :root {
    --padding-wide: 3rem;
  }
  .header,
  .home .cover { padding: 7rem var(--padding-wide); }
  .home .cover { display: grid; grid-template-columns: 1fr 1fr;}
  
  .header__brand__headline { display: block; }

  .menu { justify-content: space-between; position: absolute; top: 3rem; left: 50%; transform: translateX(-50%); width: calc(100% - (var(--padding)*2)); max-width: 780px;  }
  .cover__brand { align-self: center; max-width: 90%; }
  .cover__brand svg { width: auto; }
  .cover__news { align-self: end; max-width: 19rem; justify-self: start; }

  .block.-decoAngle:before { content:" "; display: block; position: absolute; left: 0; top: 50%; background-image: url('../img/deco-angle.svg'); background-repeat: no-repeat; background-position: center; height: 200px; width: 170px;  transform: translateY(-50%); }

  /* .block.-features .container,
  .block.-paragraph .container { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2rem; } */

  .block.-features .secondaryTitle,
  .block.-paragraph .secondaryTitle { align-self: center; justify-self: center; text-align: center; }
  .block.-features .secondaryTitle { width: 11rem }
  .block.-deco:before,
  .block.-deco:after { left: calc(25% + 3rem);   }

  .block__paragraph__intro,
  .block__features__intro { margin-bottom: 1.5rem; }

  .block__calendar { display: flex; }
  .block__calendar__date { padding: 0; flex: 1; text-align: center; }
  .block__calendar__date::before { left: 50%; top: 8rem; transform: translateX(-50%) rotate(90deg); }
  .block__calendar__date__text { height: 4rem; margin-bottom: 4rem }
  .block__calendar__date__day { font-size: 2rem; text-align: center; }
  .block__calendar__date__marker { top: 135px; left: 6.3rem; border-bottom: dotted 3px white; border-left: none;  height: 1px; width: 100%; }
  .block__calendar__date__marker.-duration { border-bottom-style: solid; }
  .block__calendar__date:last-child .block__calendar__date__marker { display: none; border-bottom: none; }


  .block__partners { grid-template-columns: repeat(5, 1fr); }
  .block__supports__partner { max-width: 30%; }

  /* 4. Results */
  /* .results__selector { padding-left: var(--padding-wide); padding-right: var(--padding-wide) } */

}

@media only screen and (min-width: 1200px) {
  :root {
    --padding-wide: calc((100vw - 780px)/2);
   }

  /* .header { padding-left: var(--padding-wide); padding-right: var(--padding-wide)} */
  /* .pagetabs { margin-left: var(--padding-wide); margin-right: var(--padding-wide)} */
  /* .content > *:not(.block) {  padding-left: var(--padding-wide); padding-right: var(--padding-wide); margin-left: var(--negative-padding); margin-right: var(--negative-padding);} */
  .footer__logo { padding-left: var(--padding-wide); }
  .footer__menu { padding-right: var(--padding-wide); }


  .block.-deco::before,
  .block.-deco::after { left: calc(25% + var(--padding-wide)/2); }

  .statistic__container { padding: 2rem 0; margin: 0 var(--padding-wide); }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
